body {
    display: grid;
    position: relative;
    margin-bottom: 1em;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}